html, body 
{
	margin: 0; padding: 0;
	font: 13px normal Arial, Helvetica, sans-serif;
	background: #FFF;
}

.content 
{
	margin: 0 auto;
	background: #FFF;
	padding: 0px 15px 0px 15px;
	font: 15px normal Arial, Helvetica, sans-serif;
}

#header .login_disclaimer 
{
	color: #000;
	padding: 0px 20px 7px 0;
	text-align: right;
	font-size: 30px;
	display: block;
	position: absolute; 
	right: 0;
	bottom: 0;
}

#header .disclaimer 
{
        color: #000;
        padding: 0px 20px 7px 0;
        text-align: right;
        font-size: 15px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
}

#header .disclaimer a 
{	
    color: #bbb;
}

ul.topnav 
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

ul.topnav li 
{
	float: left;
	margin: 0;	
	padding: 0px 0px 0px 0px;
	position: relative; /*--Declare X and Y axis base--*/
}

ul.topnav li a
{
	/*padding: 10px 5px;*/
	padding: 5px 15px 5px 15px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}

ul.topnav li a:hover
{
	background: #222;
}

ul.topnav li span 
{ /*--Drop down trigger styles--*/
	width: 17px;
	height: 30px;
	float: left;
	text-align:center;
	/*background: url(../img/subnav_btn.gif) no-repeat center top;*/
}

ul.topnav li span.subhover 
{
	background: #222;
	/*background-position: center bottom;*/
	cursor: pointer;
} 
/*--Hover effect for trigger--*/

ul.topnav li ul.subnav 
{
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 30px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 290px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}

ul.topnav li ul.subnav li
{
	margin: 0; padding: 5;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 280px;
}

html ul.topnav li ul.subnav li a 
{
	float: left;
	width: 255px;
	background: #333 url(../img/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover 
{ /*--Hover effect for subnav links--*/
	background: #222 url(../img/dropdown_linkbg.gif) no-repeat 10px center; 
}

#header img 
{
	margin: 20px 0 10px;
}

li 
{
    margin-top: 7px;
}

td 
{
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

a 
{
    text-decoration: none;
    color: #3333BB;
}

.header_table
{
    width: 100%;
    background-color: #000;
    color: #FFF;
    border-width: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
}

.login_footer
{
    width: 100%;
    height: 100%;
    background-color: #BBB;
    color: #FFF;
    border-width: 0px;
    padding-top: 2px;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
}

.header_table_cell
{
    padding: 0px;
    background-color: #555
}

.login_header_table_cell
{
    padding: 7px 15px 7px 15px;
    background-color: #555;
}


.header_light_blue
{
    background-color: #DDDDFF;
    border-width: 0px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.meta_td
{
    padding: 2px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.meta_th
{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    background-color:#DDDDFF;
}

.gray_background
{
    padding: 2px;
    border: 1px solid black;
    background-color:#DDDDDD;
}

.metadata_table
{
    vertical-align: top;
    text-align: left;
    width:100%;
    padding: 2px;
    border-collapse:collapse;
    background-color:#FFFFFF;
    border: 1px solid black;
}

/* Progress bar stuff */
div.progress-container 
{
  background-color: #AAAAAA;
  border: 1px solid #ccc; 
  width: 99%; 
  height: 20px;
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  float: left; 
}

div.progress-container > div 
{
  background-color: #D0F5A9; 
  height: 100%;
  text-align: center;
}
/* End progress bar stuff */


