
body
{
    font-family:"Helvetica", "Arial", serif;
}
.meta_td
{
    padding: 2px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 0px solid black;
}
.meta_th
{
    padding: 2px;
    text-align: left;
    border: 1px solid black;
    background-color:#DDDDFF;
}

.gray_background
{
    padding: 2px;
    border: 1px solid black;
    background-color:#CCCCCC;    
}
.metadata_table
{
    width:100%;
    padding: 2px;
    border-collapse:collapse;
    background-color:#FFFFFF;
    border: 1px solid black;
}