body
{
    font-family:"Helvetica", "Arial", serif;
}
td
{
    vertical-align: top;
    text-align: left;
    padding: 5px;
}
a
{
    text-decoration: none;
    color: #3333BB;
}
.header_table
{
    width: 100%;
    background-color: #DDDDDD;
    border-width: 0px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}
.header_light_blue
{
    background-color: #DDDDFF;
    border-width: 0px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}
.meta_td
{
    padding: 2px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 1px solid black;
}
.meta_th
{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    background-color:#DDDDFF;
}

.gray_background
{
    padding: 2px;
    border: 1px solid black;
    background-color:#DDDDDD;
}
.metadata_table
{
    vertical-align: top;
    text-align: left;
    width:100%;
    padding: 2px;
    border-collapse:collapse;
    background-color:#FFFFFF;
    border: 1px solid black;
}


/* Progress bar stuff */
div.progress-container {
  background-color: #DDDDDD;
  border: 1px solid #ccc; 
  width: 400px; 
  height: 20px;
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  float: left; 
  background: white;
}

div.progress-container > div {
  background-color: #3333FF; 
  height: 100%;
  width: 100%;
  text-align: center;
}
/* End progress bar stuff */


