body,html {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #eee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.highlight {
    background-color: #fcc;
}

.remove_field{
	text-decoration: none;
	color: #f00;
}

table#survey{
	border-spacing: 20px;
}

div.wrapper {
    width: 90%;
}

div.lefta {
    text-align: left;
}

div.invisible {
	display: none;
}

div.header {
	text-align: left;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	/*border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
	margin-bottom: .2em;
}

div.menuwrapper {
	border-radius: 10px;
	min-width: 210px;
	height: 100%;
	background-color: #fff;
	text-align: left;
}

div.footer {
	text-align: center;
	width: 100%;
}

input.small_text {
	width: 75px;
}

input.smaller_text {
	width: 50px;
}

.menu {
	list-style-type: none;
	padding-left: 1em;
	font-size: 10pt;
}

.menu li {
	margin-left: 0px;
	margin-top: 1em;
}

.menu li a {
	color: #1c1c1c;
	text-decoration: none;
}

.menu li a:hover {
	color: #2f7a8c;
	text-decoration: none;
}

div.menu_separator {
	height: 10px;
	border-bottom: 1px dotted #ccc;
	width: 90%;
}

div.login_content {
	text-align: right;
	width: 79%;
}

div.content {
	text-align: center;
	overflow:hidden;
	margin-left: 215px;
/*	width: 100%;*/
	background-color: #f5f5f5;
	border-radius: 10px;
}

div.scroll {
/*    border: 1px solid black;*/
    border-style: inset;
    width: 600px;
    height: 450px;
    overflow: scroll;
    font-size: 10pt;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.center {
	text-align: center;
	width: 100%;
}

div.red {
    color: #ff0000;
}

div.formdiv {
/*	margin-left: 2em;*/
	width: 60%;
}

div#progressbar {
	margin: 0 auto;
	width: 60%;
}

div#verification h4 {
	color: #1c1c1c;
}

div#verification a {
	color: #2f7a8c;
	text-decoration: none;
}

h1 {
    color: #181f23;
    padding-left: .5em;
    text-align: left;
}

a.add_field {
	text-decoration: none;
}

a.help {
	text-decoration: none;
}

p.construction_text {
	font-size: 18pt;
}

ol.construction {
	text-align: left;
	font-size: 14pt;
}

ol.construction li {
	margin: 1em;
}

img#logo {
    height: 100px;
	margin-left: .5em;
	margin-bottom: .25em;
	border-bottom: .5em;
}

img.icon  {
	margin-right: 1em;
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
